body{
    margin:0;
    font-family: Arial;
}

.container{
    display:flex;
}

/* Sidebar */

.sidebar{
    width:220px;
    height:100vh;
    background:#2c3e50;
    color:white;
    padding:20px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:10px 0;
    cursor:pointer;
}

/* Main */

.main{
    flex:1;
    padding:40px;
    background:#ecf0f1;
}

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.student-form{
display:flex;
flex-direction:column;
width:400px;
}

.student-form input{
padding:8px;
margin-bottom:15px;
border-radius:5px;
border:1px solid #ccc;
}

.student-form button{
padding:10px;
background:#2c3e50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}


/* Remove number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}